.contents.row
  .container
    %h2 お店情報の変更
    = form_with model: @shop, id: 'new_shop', class: 'new_shop', local: true do |f|
      .field
        = f.label :"店名"
        %br/
        = f.text_field :name ,maxlength:20, placeholder:"例：スーパードラック 渋谷２０２０号店(20字以内）"
      .field
        = f.label :"外観写真"
        %br/
        = f.file_field :image
      .field
        = f.label :"住所"
        %br/
        = f.text_field :address,maxlength:30, placeholder:"例：東京都渋谷区道玄坂2222-222(30字以内）"
      .field
        = f.label :"最寄り駅"
        %br/
        = f.text_field :station,maxlength:10, placeholder:"例：渋谷（駅とつけず漢字でご入力してください）"
      .field
        = f.label :"最寄り駅からの徒歩の時間(分)"
        %br/
        = f.number_field :station_walk,min:1,max:60
        -# = f.text_field :station_walk,maxlength:2, placeholder:"例：３（数字のみご入力してください）"
      .field
        = f.label :営業時間
        %br/
        = f.text_field :shop_time,maxlength:20, placeholder:"例：AM10:00~PM10:00"
      .field
        = f.label :定休日
        %br/
        = f.text_field :shop_holiday,maxlength:10, placeholder:"例：水曜日"
        = f.submit "Update"
