.shop
  .shop__en
    Information
  .shop__ja
    詳細情報
  .shop__box
    .shop__box--image
      - if @shop.image.url
        = image_tag @shop.image.url
    .shop__box--contens
      .shop__name.shop__content
        = @shop.name
      %hr
      .shop__station.shop__content
        = @shop.station
        駅から徒歩
        = @shop.station_walk
        分
      %hr
      .shop__address.shop__content
        = @shop.address
      %hr
      .shop__time.shop__content
        営業時間：
        = @shop.shop_time
        %span.space
        定休日：
        = @shop.shop_holiday
    .shop__box--masks
      - @masks.each do |mask|
        .mask-box
          .mask-box--image
            = image_tag mask.image.url
            - if shop_signed_in? && current_shop.id == mask.shop.id
              .mask-box--destroy
                = link_to mask_path(mask.id), method: :delete do
                  %i.fas.fa-trash-alt
          .mask-box--under
            .mask-box--name
              = mask.name
            .mask-box--stock
              在庫（箱）：
              = mask.stock
- if shop_signed_in? && current_shop.id == @shop.id
  .content__btns
    = link_to edit_shop_path(@shop.id)do
      .content__btn
        お店の情報を登録・更新
    = link_to new_shop_post_path(@shop.id) do
      .content__btn
        入荷情報を投稿する
    = link_to new_shop_mask_path(@shop.id) do
      .content__btn
        マスク在庫追加


