.topcontens
  .topcontens__logo
    Find Mask
  .topcontens__right
    %h1
      マスクを見つける
    %h4
      コロナウィルスの影響で直面した
      %br
      マスク入手困難を解決する
    = link_to "#", class: "topcontens__right--btn" do
      サービス案内
.servise
  .servise__en
    SERVICE
  .servise__ja
    サービスのご案内
  .servise__images
    = link_to shops_path, data: {"turbolinks" => false}, class: "#" do
      .servise__images--left
        .servise__images--left-box
          %p Search
          %hr
          %div  お近くの駅からマスクの在庫がある、ドラッグストアを検索します。
    = link_to "#", class: "btn__newpost" do
      .servise__images--right
        .servise__images--right-box
          %p Shop Post
          %hr
          %div 各ドラックストアが投稿した最新入荷情報などを見ることができます。
.secondservise
  = link_to comments_path, data: {"turbolinks" => false}, class: "#" do
    .secondservise__images
      .secondservise__images--box
        %p Bulletin Board 
        %hr
        %div マスクの在庫情報を、皆さんで共有することができる掲示板です。
.posts
  .posts__en
    NEW POSTS
  .posts__ja
    新着情報
  .posts__box#postslick
    - @posts.each do |post|
      = link_to shop_path(post.shop.id), class: "#" do
        .newpost__box
          %span.newpost__box--date
            = post.created_at
          %span.newpost__box--name
            = post.shop.name
          %hr/
          .newpost__box--content
            = post.content
