.topcontens
  .topcontens__logo
    Find Mask
  .topcontens__right
    %h1
      マスクを見つける
    %h4
      コロナウィルスの影響で直面した
      %br
      マスク入手困難を解決する
    = link_to "#", class: "topcontens__right--btn" do
      サービス案内
.servise
  .servise__en
    SERVICE
  .servise__ja
    サービスのご案内
  .servise__images
    = link_to "#", class: "#" do
      .servise__images--left
        .servise__images--left-box
          %p Search
          %hr
          %div  お近くの駅からマスクの在庫がある、ドラッグストアを検索します。
    = link_to "#", class: "#" do
      .servise__images--right
        .servise__images--right-box
          %p New Post
          %hr
          %div 各ドラックストアのマスクの最新入荷情報などを見ることができます。
.posts
  .posts__en
    NEW POSTS
  .posts__ja
    新着情報
  .posts__box
    - @posts.each do |post|
      = link_to shop_path(post.shop.id), class: "#" do
        .newpost
          .newpost__image
            -if post.shop.image.url
              = image_tag post.shop.image.url
          .newpost__textbox
            .newpost__textbox--date
              = post.created_at
            .newpost__textbox--shop
              = post.shop.name
            .newpost__textbox--time
              = post.shop.station
              駅から徒歩
              = post.shop.station_walk
              分
            %hr
            .newpost__textbox--content
              = post.content
    
