!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FindMask
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      = link_to root_path , class: "findmask" do
        Find  Mask
      .header__lists
        .header__lists--left
          企業の方はコチラ：
        - if shop_signed_in?
          = link_to destroy_shop_session_path , class: "signup--btn",method: :delete do
            ログアウト
          = link_to "#", class: "login--btn" do    
            マイページ
        - else
          = link_to new_shop_registration_path , class: "signup--btn" do
            新規登録
          = link_to new_shop_password_path, class: "login--btn" do    
            ログイン
    = yield
    %footer
